@import 'https://fonts.googleapis.com/css?family=Open+Sans:600,700';

* {
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: black;
}

.container {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-top: 3rem;
}

.inputbox {
    position: relative;
    width: 196px;
    align-self: center;
    margin-top: 1rem;
}

.inputbox input,
textarea,
select {
    position: relative;
    width: 100%;
    padding: 10px;
    background: transparent;
    outline: none;
    color: #fff;
    font-size: 1em;
    border-radius: 15px;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
    border: 2px solid hsla(217 100% 56% / 1)
}

.inputbox span {
    position: absolute;
    left: 0;
    padding: 20px 10px 10px;
    font-size: 1em;
    letter-spacing: 00.05em;
    transition: 0.5s;
    pointer-events: none;
    color: hsla(217 100% 56% / 1);
    transform: translateY(-42px);
}

textarea {
    overflow: scroll;
    padding: 10px 10px 10px;
}

textarea::-webkit-scrollbar {
    display: none;
}

button {
    cursor: pointer;
    margin: 1rem 0;
    padding: 0.9em 1.4em;
    width: 120px;
    font-size: 1rem;
    font-weight: 500;
    transition: 0.8s;
    background-size: 280% auto;
    background-image: linear-gradient(325deg, hsla(217 100% 56% / 1) 0%, hsla(194 100% 69% / 1) 55%, hsla(217 100% 56% / 1) 90%);
    border: none;
    border-radius: 0.5em;
    color: hsla(360 100% 100% / 1);
    box-shadow: 0px 0px 20px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px rgba(175, 230, 255, 0.5), inset -4px -4px 8px rgba(19, 95, 216, 0.35);
    align-self: center;
}

button:hover {
    background-position: right top;
}

button:is(:focus) {
    outline: none;
    box-shadow: 0 0 0 3px hsla(360 100% 100% / 1), 0 0 0 6px hsla(217 100% 56% / 1);
}

/* Comment Box */

.box {
    /* box-shadow: 0px 20px 60px -20px rgba(0, 0, 0, 0.15); */
    box-shadow: 0px 0px 15px -2px rgba(71, 184, 255, 0.5), 0px 0px 32px -5px rgba(58, 125, 233, 0.25);
    box-sizing: border-box;
    padding: 30px 40px;
    font-weight: 400;
    border-radius: 15px;
    width: 100%;
    max-width: 600px;
    margin: 2rem auto;
}

.rImg {
    float: left;
}

.rImg img {
    width: 50px;
    border-radius: 50px;
}

.reviewer {
    margin: 0 0 0 4rem;
}

h2 {
    font-size: 1rem;
    line-height: 1.5em;
    font-weight: 400;
    color: #636972;
    margin: 0;
    text-transform: capitalize;
}

h2~p {
    font-size: .8rem;
}

.reviewdate {
    float: right;
}

.review {
    box-sizing: border-box;
    line-height: 1.5em;
    color: white;
    margin: 0 0 0 4rem;
}

/* Comment Box */